src/*.exe
src/karma
src/karmad
src/test_karma
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.karma

# Compilation and Qt preprocessor part
*.qm
Makefile*
karma-qt
Karma-Qt.app

# Unit-tests
Makefile.test
karma-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows
/windows

!src/leveldb-*/Makefile
